.preview-card-container{
    width: 350px;
    height: 600px;
    padding: 40px;
    display: flex;
    flex-direction: column ;
    justify-content: center;
    align-items: center;
     text-align: left;
    
}

.img-container{
    width: 100%;
    float: left;
}

.preview-card-title{
    width: 100%;
    float: left;
}


